<div class="hold-transition sidebar-mini">
    <div class="wrapper">
        <app-header></app-header>

        <!-- Main Sidebar Container -->
        <app-sidebar></app-sidebar>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <app-control-sidebar></app-control-sidebar>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->

    </div>
</div>